*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}


header , .form{
  height: 70px;
  display: flex;
  padding-left: 10px;
  padding-right: 40px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 50%;
  height: 100%;
  align-items: center;

}

.logo img {
  width: 40px;
}

.logo {
  justify-content: space-between;
}

.container-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

h1, h2, h3 {
  color: #020405;
  font-family: 'Pacifico', sans-serif;
}

.navigasi {
  height: 70px;
  width: 50%;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  display: flex;
  border: 0;
  background: none;
  cursor: pointer;
  justify-content: center;
}

a.navigasi :hover {
  text-decoration: none;
  color: black;
}
.radio-nav{
  display: none;
}

.active {
  color: rgb(12, 1, 1) ;
  box-shadow: inset 0px -8px 20px #20f8e6,
    inset 0px 8px 20px rgba(255, 255, 255, 0.7);
}

.navigasi p{
  font-family: 'Titan One', cursive;
  font-size: 30px;
}
.hum {
  position: relative;
}

.hum::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, white, #ffff00d8);
  opacity: 0.3;
  /* z-index: -1; */
  /* top: 50%;
  right: -50px; adjust to place the circle where you want */
  /* transform: translateY(-5%); */
  transform: translateX(-31%);
  /* border-radius: 50%; */
}

section {
  background: white;
  margin: 20px auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  max-width: 900px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #dee2e6;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #e9ecef;
}

footer {
  background: #0d6efd;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}

@media (max-width: 400px) {
  h1 {
    font-size: 25px;
  }

  .logo img {
    width: 30px;
  }

  .logo {
    justify-content: space-between;
    display: flex;
    gap: 20px;
    margin-right: 10px;
  }

  .navbar {
    width: 40%;
    gap: 0px;
    padding: 0px;
    display: flex;
    justify-content: end;
    padding-left: 10px;
    gap: 5px;
  }

  .navigasi {
    height: 100%;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    display: flex;

  }

  header {
    justify-content: space-between;
    padding: 10px;
  }
}